<%= simple_form_for(@companyname) do |f| %>
  <% if @companyname.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@companyname.errors.count, "error") %> prohibited this companyname from being saved:</h2>

      <ul>
      <% @companyname.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :title, :label => "Nombre de la empresa" %>
  </div><br />
  <div class="form-group">
    <%= f.input :name, :label => "Nombre del empresario o epresaria" %>
  </div><br />
  <div class="form-group">
    <%= f.input :address, :label => "Dirección" %>
  </div><br />
  <div class="form-group">
    <%= f.input :phone, :label => "Teléfono" %>
  </div><br >
  <div class="actions">
    <%= f.submit "Crear su empresa", class: "btn btn-default" %>
  </div>
<% end %>
