<%= simple_form_for(@companyname) do |f| %>
  <% if @companyname.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@companyname.errors.count, "error") %> prohibited this companyname from being saved:</h2>

      <ul>
      <% @companyname.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Nombre de la empresa" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label "Nombre del empresario o epresaria" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label "Dirección" %><br>
    <%= f.text_area :address %>
  </div>
  <div class="form-group">
    <%= f.label "Teléfono" %><br>
    <%= f.text_area :phone %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
