<div class="col-md-12" id="listing">
  <% @companynames.each do |companyname| %>
    <h3>Nombre de la empresa:</h3><p><%= companyname.title %></p>
    <h3>Nombre del empresario o epresaria:</h3><p><%= companyname.name %></tp>
    <h3>Dirección:</h3><p><%= companyname.address %></p>
    <h3>Teléfono:</h3><p><%= companyname.phone %></p>
    <%= link_to 'Dashboard', companyname, class: "btn btn-default" %>
    <%= link_to 'Edit', edit_companyname_path(companyname), class: "btn btn-default" %>
    

    <h3>Por favor asegúrese de que la infomration este correcta. Una vez que usted paga comenzamos a procesar su información para incorporar su empresa.</h3>

    <p>
      <%= render template: "charges/new" %>
    </p>
  <% end %>
</div>

<br>

