<% @companynames.each do |companyname| %>
  <table class="table">
    <h1>Dashboard</h1>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><%= companyname.title %></td>
        <td><%= companyname.title %></td>
        <td><%= companyname.name %></td>
        <td><%= companyname.address %></td>
        <td><%= companyname.phone %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to "Back", companynames_path, class: "btn btn-default" %>
<% end %>
