

<p>
  <strong>Nombre de la empresa:</strong>
  <%= @companyname.title %>
</p>

<p>
  <strong>Nombre del empresario o epresaria:</strong>
  <%= @companyname.name %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @companyname.address %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @companyname.phone %>
</p>

<p>
  <strong>Por favor asegúrese de que el infomration este correcta. Una vez que usted paga comenzamos a procesar su información para incorporar su empresa.</strong>
</p>

<%= link_to 'Edit', edit_companyname_path(@companyname) %> |
<%= link_to 'Back', companynames_path %>

<p>
  <%= render template: "charges/new" %>
</p>
